In [1]:
import numpy as np 
import pandas as pd

In [13]:
daily_sales_data_0 = pd.read_csv('data/daily_sales_data_0.csv')
daily_sales_data_1 = pd.read_csv('data/daily_sales_data_1.csv')
daily_sales_data_2 = pd.read_csv('data/daily_sales_data_2.csv')

In [14]:
merged_df=pd.concat([daily_sales_data_0, daily_sales_data_1, daily_sales_data_2], ignore_index=True)
merged_df.head(5)

       product  price  quantity        date region
0  pink morsel  $3.00       546  2018-02-06  north
1  pink morsel  $3.00       549  2018-02-06  south
2  pink morsel  $3.00       577  2018-02-06   east
3  pink morsel  $3.00       519  2018-02-06   west
4  gold morsel  $9.99       580  2018-02-06  north

In [19]:
merged_df=merged_df[merged_df['product']=='pink morsel']
merged_df.head(5)

        product  price  quantity        date region
0   pink morsel  $3.00       546  2018-02-06  north
1   pink morsel  $3.00       549  2018-02-06  south
2   pink morsel  $3.00       577  2018-02-06   east
3   pink morsel  $3.00       519  2018-02-06   west
28  pink morsel  $3.00       529  2018-02-07  north

In [ ]:
new_merged_df=merged_df.copy()
new_merged_df.head(5)

np.int64(0)

In [ ]:
new_merged_df['price']=new_merged_df['price'].astype(str)
new_merged_df['price']=new_merged_df['price'].str.replace('$','')
new_merged_df['price']=new_merged_df['price'].astype(float)
new_merged_df['Sales']=new_merged_df['price']*new_merged_df['quantity']

In [39]:
daily_sales_data=new_merged_df.copy()
daily_sales_data.drop(columns=['product','price','quantity'], inplace=True)
daily_sales_data.head(5)

          date region   Sales
0   2018-02-06  north  1638.0
1   2018-02-06  south  1647.0
2   2018-02-06   east  1731.0
3   2018-02-06   west  1557.0
28  2018-02-07  north  1587.0